@tailwind base;
@tailwind components;
@tailwind utilities;

#logo {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}

#buttonGame {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}

#message {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}

#time {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

#input-tentativa {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

#enviar-tentativa {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}